@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;500&display=swap');
.page {
  background-color: white;
  width: 75%;
  margin: auto;
  position: relative;
  top: -7rem;
  padding: 3rem;
  z-index: 0;
  border: 1px solid #a5a5a562;
  box-shadow: 1px 15px 30px 5px rgba(110, 110, 110, 0.171);
}

.page h2 {
  color: #e4401b;
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 2.2rem;
  text-align: center;
  text-transform: uppercase;
}

.page .dish {
  display: flex;
  margin-top: 2rem;
}

.menu-container {
  width: 80%;
  margin: auto;
}

.dish .food-img {
  width: 10rem;
  height: 8rem;
  margin-right: 1rem;
  overflow: hidden;
  flex-shrink: 0;
  border: 1px solid #c4c4c481;
  border-radius: 0.2rem;
}

.dish img {
  width: 10rem;
  height: 8rem;
  object-fit: cover;
  overflow: hidden;
  transition: all 1.5s;
}

.dish .food-img:hover img {
  transform: scale(1.2);
}
.page .container {
  display: flex;
  position: relative;
}

.page .container h3 {
  flex: 1;
  display: inline;
  font-size: 1.5rem;
}

.page .container h3 span {
  background-color: white;
}

.page .container::after {
  position: absolute;
  content: '';
  bottom: 0.4rem;
  width: 100%;
  border-top: 1px dashed #a5a4a4;
  z-index: -1;
}

.page .container .price {
  text-align: right;
  color: #e4401b;
}

.page .container .name {
  color: #4e4e4e;
}

.ingredients {
  margin-top: 0.5rem;
  font-size: 1.1rem;
}

.break {
  margin-top: 5rem;
}

@media (max-width: 575px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 576px) {
  html {
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 15px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 16px;
  }
}
