footer {
  background-color: black;
  color: #616161;
  height: 40rem;
  max-height: 460px;
  margin-top: 5rem;
}

footer .col-container {
  height: 70%;
  display: flex;
  justify-content: space-around;
  padding: 5rem 2rem 3rem 2rem;
}

footer .col-container .hommies {
  flex: 1;
  margin-left: 3rem;
}

footer .col-container .hommies .logo {
  margin-bottom: 2rem;
}

footer .col-container .hommies p {
  line-height: 1.7rem;
  letter-spacing: 0.05rem;
  font-size: 1.2rem;
}

footer .col-container .visit-contact {
  flex: 2;
  display: flex;
  justify-content: space-around;
}

footer .visit-contact h3,
footer .follow h3 {
  margin-bottom: 1rem;
  color: #9b9b9b;
}

footer .visit-contact .line {
  border-right: 2px solid #313131;
  width: 40%;
  height: 60%;
}

footer .col-container .col span {
  font-weight: 700;
  color: #9b9b9b;
}

footer .follow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .follow i {
  padding: 1rem 2rem;
}
footer .follow i:hover {
  color: white;
}

footer .copyright {
  padding-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #616161;
}

@media (max-width: 500px) {
  footer .col-container .hommies {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  footer .col-container .visit-contact {
    flex: 1;
    flex-direction: column;
  }
  footer .visit-contact .line {
    border-right: none;
    border-bottom: 2px solid #313131;
    width: 80%;
    height: 50%;
  }
}
